/* Global */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans:wght@700&family=Roboto:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 108px 0 108px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Roboto", sans-serif;
}

/* Spalsh */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash i {
  font-size: 30px;
  background: #ff5e57;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.page-title {
  color: #fff;
  font-size: 60px;
  margin: 40px 0 0 0;
  font-family: "Roboto", sans-serif;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: 60px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: #ff5e57;
}

.page-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 48px 0 0 0;
  font-family: "Roboto", sans-serif;
}

/* Intro */
.intro {
  background-color: #ff5e57;
}

.intro .container p {
  width: 70%;
  height: 0%;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

hr {
  border-style: solid none solid none;
  width: 30%;
  height: 0%;
  border-width: 1px;
  color: #fff;
  margin: 10px auto;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -24px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #ff5e57;
}

/*About*/
.about {
  background-color: #f0f0f0;
}

.about p {
  font-family: "Cabin", sans-serif;
}

/* Skills */
[class^=skill-] {
  position: relative;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
  position: relative;
  z-index: 1;
  background-color: #f0f0f0;
}

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
  background-color: #f0f0f0;
  position: relative;
  z-index: 1;
}

.skill-title {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

.skill-description p {
  font-family: "Cabin", sans-serif;
}

.skill-image img:hover {
  transform: scale(2);
  transition: all 1s;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 33.33%;
  height: 300px;
  display: block;
}

.gallery .photo-container {
  width: 33.33%;
  height: 300px;
  position: relative;
  display: block;
}

.gallery .photo-container img {
  width: 100%;
}

.gallery .photo-container .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.gallery .photo-container .layer h4 {
  padding-top: 70px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 25px;
}

.gallery .photo-container:hover .layer {
  display: block;
}

.gallery .photo-container .layer button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Cabin", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #ff5e57;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact {
  padding: 0;
  font-family: "Cabin", sans-serif;
}

.contact .container {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5% auto 5% auto;
}

form {
  display: flex;
  flex-flow: column;
  width: 70%;
}

.btn {
  margin-top: 20px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Cabin", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #ff5e57;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

footer {
  background-color: #ff5e57;
  margin: 0;
}

.icon {
  padding: 5% 5%;
}

.icon {
  margin: 20px 10px;
  color: black;
}

.signature {
  font-family: "Cabin", sans-serif;
  color: black;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
